<div id="actividades">
  <div class="row">
    <div class="col-md-2">
      <label for="nombre">Nombre actividad</label>
    </div>
    <div class="col-md-2">
      <label for="tiempoOptimista">Tiempo Optimista</label>
    </div>
    <div class="col-md-2">
      <label for="tiempoMasProbable">Tiempo Más Probable</label>
    </div>
    <div class="col-md-2">
      <label for="tiempoPesimista">Tiempo Pesimista</label>
    </div>
    <div class="col-md-2">
      <label for="predecesores">Predecesores</label>
    </div>
    <div class="col-md-2 text-center">
      <label for="">Eliminar</label>
    </div>
  </div>
  <div
    class="row"
    *ngFor="let actividad of actividades; let i = index"
    [attr.id]="'actividad_' + i"
  >
    <div class="col-md-2">
      <input
        type="text"
        name="nombre"
        [(ngModel)]="actividad.nombre"
        class="form-control nombre"
      />
    </div>
    <div class="col-md-2">
      <input
        type="number"
        name="tiempoOptimista"
        [(ngModel)]="actividad.tiempoOptimista"
        class="form-control tiempo-optimista"
      />
    </div>
    <div class="col-md-2">
      <input
        type="number"
        name="tiempoMasProbable"
        [(ngModel)]="actividad.tiempoMasProbable"
        class="form-control tiempo-mas-probable"
      />
    </div>
    <div class="col-md-2">
      <input
        type="number"
        name="tiempoPesimista"
        [(ngModel)]="actividad.tiempoPesimista"
        class="form-control tiempo-pesimista"
      />
    </div>
    <div class="col-md-2">
      <input
        type="text"
        name="predecesores"
        [(ngModel)]="actividad.predecesores"
        class="form-control predecesores"
      />
    </div>
    <div class="col-md-2 text-center" id="div-eliminar">
      <button class="btn btn-danger" (click)="eliminarActividad(i)">X</button>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button class="btn btn-success" (click)="nuevaActividad()">
        Añadir actividad
      </button>
    </div>
  </div>

  <div class="row">
    <div class="col text-center">
      <button class="btn btn-primary mt-3" (click)="guardarActividades()">Guardar actividades</button>
    </div>
  </div>
</div>
